html {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7;
}

body {
    background: #fff7f7;
}

h1 {
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 3em;
    line-height: 1.7;
}

#current-tasks>h3 {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.5em;
}

ul {
    position: relative;
    width: 30%;
    padding: 10px !important;
    background: #eaebed;
    border-radius: 3px;
}

li {
    text-transform: capitalize;
    position: relative;
    width: 100%;
    list-style: none;
    margin-bottom: 16px;
}

li:last-child {
    margin-bottom: 0;
}

li.new-item {
    animation: fade-in;
    animation-duration: .4s;
}

#form {
    position: relative;
    width: 30%;
}

.theme-btn {
    font-family: 'Raleway';
    background: #586c99;
    color: #ffffff;
    border-radius: 6px;
    border: 0px solid #0f4e82;
    border-bottom-width: 2px;
    margin-bottom: 8px;
    transition-duration: .05s;
    vertical-align: middle;
    float: right;
}

.theme-btn:hover {
    background: #728dc9;
    cursor: pointer;
}

.theme-btn:active {
    border-width: 0px;
    border-top: 4px solid #fff7f7;
    margin-bottom: 6px;
}

input {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    padding: 1px 5px;
    margin-top: -8px;
    vertical-align: middle;
}

.input-error {
    border: 1px solid #913838;
    background: #ffe2e2;
}

p.error-message,
p.task-error {
    font-weight: 600;
    background: #ffe2e2;
    color: #913838;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

svg path {
    animation: fade-in;
    animation-duration: .3s;
    fill: #586c99;
}

svg.fa-minus-circle path {
    fill: #913838;
}

.fade-in-and-out {
    display: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}